@use "sass:color";

/**
* Aquest full d'estils es correspon a la pàgina principal den curriculum vitae.
*
* BASE
* Estils base............Definició base y reseteix dels estils
*
* LAYOUT
* Layout.................Organització de l'estructura de la pàgina
*
* MODULES
* Name...................Modul de la portada
* Timeline...............Timeline d'events en dos estils
* Llista valor...........Llistat de valors en format quadricula responsive
* Utilitats..............Utilitats reusables varies
*/

/*------------------------------------*\
  #BASE
\*------------------------------------*/
html {
  font-family: $font-family-serif;
  color: rgb(48, 48, 48);
}

body {
  all: unset;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5em;
}





/*------------------------------------*\
  #LAYOUT
\*------------------------------------*/
.layout {
  display: grid;
  grid-template-columns: 1fr;
}

// Media query per adaptar el layout a desktop

@media (min-width: $desktopMinWidth) {
  .layout {
    grid-template-columns: 1fr 1fr;
  }
}

.layout__title {
  display: inline-block;
  padding: 0.5em;
  padding-left: 2em;
  background-color: $primary;
  color: $primary-text;
}

.layout__content {
  margin: 2em;
}





/*------------------------------------*\
  #MODULES
\*------------------------------------*/
/* NAME */
.name {
  margin: 1em;
  border-radius: 1em;
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
  padding: 2em;
  padding-top: 0;
  text-align: center;
  border-top: 300px solid $secondary;
}

  .name__image {
    margin-top: -150px;
    width: 300px;
    border-radius: 50%;
  }





/* TIMELINE*/
.timeline {
  padding: 0;
  list-style: none;
}

  .timeline__element {
    width: 50%;
    margin-bottom: 1em;
    clear: both;
    border-top-style: solid;
    border-top-width: 0.5em;

    font-size: 1.2rem;
  }

    .timeline__title {
      font-weight: bold;
    }

    // modificadors per a moure els elements a un costat o un altre

    @mixin timeline__element-type($color: $primary, $align: left) {
      float: $align;
      text-align: $align;
      border-top-color: $color;
    }

    .timeline__element--primary {

      @include timeline__element-type;
    }

    .timeline__element--secondary {

      @include timeline__element-type($color: $secondary, $align: right);
    }





/* LLISTA VALOR */
.llista-valor {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 0;
  list-style: none;

  font-size: 1.3rem;
}

  .llista-valor__element {
    display: flex;
    align-items: center;
    padding: 0.5em;
    margin: 0.1em;
    box-shadow: 0 0.1em 0.1em 0 $primary-d;

    .material-icons {
      color: $primary;
      margin-right: 0.5em;
    }
  }

  .llista-valor__valor {
    margin-left: auto;
    font-weight: bold;
    color: $primary;
  }





// Conjunt d'utilitats
.subtitle {
  display: block;
  margin-top: 1em;
  font-size: 0.8em;
}


// Separador d'elements amb una línea

.separador {
  border-top: 0.2em solid $primary;
}


// Inicialització del grafic

[id="chart"] {
  width: 100%;
  height: 600px;
  max-height: 600px;
}
